n8n_version_check_upgrade_notifier.json
{
  "name": "n8n Version Check & Upgrade Notifier",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 * * 1"
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Weekly Monday 9AM",
      "position": [
        0,
        0
      ],
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "authentication": "privateKey",
        "command": "docker exec n8n-compose-n8n-1 n8n --version"
      },
      "id": "ssh-get-version",
      "name": "Get Installed Version",
      "position": [
        224,
        0
      ],
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1
    },
    {
      "parameters": {
        "url": "https://api.github.com/repos/n8n-io/n8n/releases/latest",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "n8n-version-checker"
            },
            {
              "name": "Accept",
              "value": "application/vnd.github+json"
            }
          ]
        },
        "options": {}
      },
      "id": "http-github-release",
      "name": "Get Latest GitHub Release",
      "position": [
        448,
        0
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4
    },
    {
      "parameters": {
        "jsCode": "// Get SSH output (installed version)\nconst sshOutput = $node[\"Get Installed Version\"].json.stdout;\nconst installedVersion = sshOutput.trim();\n\n// Get GitHub release data\nconst githubData = $node[\"Get Latest GitHub Release\"].json;\nconst latestTag = githubData.tag_name; // e.g. \"n8n@1.75.2\" or \"1.75.2\"\nconst latestVersion = latestTag.replace(/^n8n@/, '').replace(/^v/, '');\nconst releaseUrl = githubData.html_url;\nconst releaseName = githubData.name || latestTag;\nconst publishedAt = githubData.published_at;\n\n// Parse version strings into comparable numbers\nfunction parseVersion(v) {\n  const clean = v.replace(/^n8n@/, '').replace(/^v/, '').trim();\n  const parts = clean.split('.').map(Number);\n  return { major: parts[0] || 0, minor: parts[1] || 0, patch: parts[2] || 0, raw: clean };\n}\n\nconst installed = parseVersion(installedVersion);\nconst latest = parseVersion(latestVersion);\n\n// Compare versions\nlet needsUpgrade = false;\nif (latest.major > installed.major) {\n  needsUpgrade = true;\n} else if (latest.major === installed.major && latest.minor > installed.minor) {\n  needsUpgrade = true;\n} else if (latest.major === installed.major && latest.minor === installed.minor && latest.patch > installed.patch) {\n  needsUpgrade = true;\n}\n\nreturn [{\n  json: {\n    installedVersion: installed.raw,\n    latestVersion: latest.raw,\n    needsUpgrade,\n    releaseUrl,\n    releaseName,\n    publishedAt\n  }\n}];"
      },
      "id": "code-compare",
      "name": "Compare Versions",
      "position": [
        672,
        0
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "id": "condition-1",
              "leftValue": "={{ $json.needsUpgrade }}",
              "operator": {
                "operation": "true",
                "type": "boolean"
              },
              "rightValue": true
            }
          ],
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          }
        },
        "options": {}
      },
      "id": "if-needs-upgrade",
      "name": "Upgrade Available?",
      "position": [
        880,
        0
      ],
      "type": "n8n-nodes-base.if",
      "typeVersion": 2
    },
    {
      "parameters": {
        "sendTo": "maly.iphone@gmail.com",
        "subject": "=🔄 n8n Update Available: v{{ $json.latestVersion }} (currently v{{ $json.installedVersion }})",
        "message": "=<h2>🔄 n8n Update Available</h2>\n<p>A new version of n8n is available for your server at <strong>192.168.1.186</strong>.</p>\n\n<table style=\"border-collapse: collapse; width: 100%; max-width: 500px; margin: 20px 0;\">\n  <tr style=\"background-color: #f5f5f5;\">\n    <td style=\"padding: 10px; border: 1px solid #ddd;\"><strong>Current Version</strong></td>\n    <td style=\"padding: 10px; border: 1px solid #ddd;\">v{{ $json.installedVersion }}</td>\n  </tr>\n  <tr>\n    <td style=\"padding: 10px; border: 1px solid #ddd;\"><strong>Latest Version</strong></td>\n    <td style=\"padding: 10px; border: 1px solid #ddd;\"><strong>v{{ $json.latestVersion }}</strong></td>\n  </tr>\n  <tr style=\"background-color: #f5f5f5;\">\n    <td style=\"padding: 10px; border: 1px solid #ddd;\"><strong>Release Name</strong></td>\n    <td style=\"padding: 10px; border: 1px solid #ddd;\">{{ $json.releaseName }}</td>\n  </tr>\n  <tr>\n    <td style=\"padding: 10px; border: 1px solid #ddd;\"><strong>Published</strong></td>\n    <td style=\"padding: 10px; border: 1px solid #ddd;\">{{ $json.publishedAt }}</td>\n  </tr>\n</table>\n\n<p>📋 <a href=\"{{ $json.releaseUrl }}\">View Release Notes on GitHub</a></p>\n\n<h3>🚀 Upgrade Commands</h3>\n<p>SSH into your server and run:</p>\n<pre style=\"background-color: #1e1e1e; color: #d4d4d4; padding: 15px; border-radius: 5px; font-family: monospace; overflow-x: auto;\">\n# SSH into the server\nssh 192.168.1.186\n\n# Navigate to your docker compose directory\ncd /path/to/n8n-compose\n\n# Pull the latest images\ndocker compose pull\n\n# Stop the current containers\ndocker compose down\n\n# Start with the new version\ndocker compose up -d\n\n# Verify the new version\ndocker exec n8n-compose-n8n-1 n8n --version\n</pre>\n\n<p style=\"color: #856404; background-color: #fff3cd; padding: 10px; border-radius: 5px; border: 1px solid #ffc107;\">⚠️ <strong>Tip:</strong> Always backup your n8n data before upgrading. Check the release notes for any breaking changes.</p>\n\n<p style=\"color: #999; font-size: 12px;\">This email was sent automatically by your n8n Version Check workflow.</p>",
        "options": {}
      },
      "id": "gmail-send",
      "name": "Send Upgrade Email",
      "position": [
        1104,
        -96
      ],
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1
    }
  ],
  "connections": {
    "Compare Versions": {
      "main": [
        [
          {
            "index": 0,
            "node": "Upgrade Available?",
            "type": "main"
          }
        ]
      ]
    },
    "Get Installed Version": {
      "main": [
        [
          {
            "index": 0,
            "node": "Get Latest GitHub Release",
            "type": "main"
          }
        ]
      ]
    },
    "Get Latest GitHub Release": {
      "main": [
        [
          {
            "index": 0,
            "node": "Compare Versions",
            "type": "main"
          }
        ]
      ]
    },
    "Upgrade Available?": {
      "main": [
        [
          {
            "index": 0,
            "node": "Send Upgrade Email",
            "type": "main"
          }
        ]
      ]
    },
    "Weekly Monday 9AM": {
      "main": [
        [
          {
            "index": 0,
            "node": "Get Installed Version",
            "type": "main"
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}