wazuh_alert_triage_ai_agent.json
{
    "updatedAt": "2026-02-25T16:43:26.663Z",
    "createdAt": "2026-02-24T20:12:46.966Z",
    "id": "207k3lfk9WtMXjEU",
    "name": "Wazuh Alert Triage \u2014 AI Security Analyst",
    "description": null,
    "active": false,
    "isArchived": false,
    "nodes": [
        {
            "parameters": {
                "rule": {
                    "interval": [
                        {
                            "field": "cronExpression",
                            "expression": "0 6 * * *"
                        }
                    ]
                }
            },
            "id": "schedule-trigger",
            "name": "Daily 6 AM",
            "position": [
                0,
                0
            ],
            "type": "n8n-nodes-base.scheduleTrigger",
            "typeVersion": 1.3
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://192.168.1.199:55000/security/user/authenticate",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpBasicAuth",
                "options": {
                    "allowUnauthorizedCerts": true
                }
            },
            "id": "wazuh-auth",
            "name": "Wazuh Authenticate",
            "position": [
                240,
                0
            ],
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.4,
            "credentials": {
                "httpBasicAuth": {
                    "id": "BfOV5Au7TEzJtVK4",
                    "name": "Wazuh API"
                }
            }
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://192.168.1.199:9200/wazuh-alerts-4.x-*/_search",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpBasicAuth",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\n  \"size\": 500,\n  \"sort\": [{\"timestamp\": {\"order\": \"desc\"}}],\n  \"query\": {\n    \"bool\": {\n      \"must\": [\n        {\"range\": {\"rule.level\": {\"gte\": 7}}},\n        {\"range\": {\"timestamp\": {\"gte\": \"now-24h\"}}}\n      ]\n    }\n  }\n}",
                "options": {
                    "allowUnauthorizedCerts": true
                }
            },
            "id": "fetch-alerts",
            "name": "Fetch Wazuh Alerts",
            "position": [
                480,
                0
            ],
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.4,
            "credentials": {
                "httpBasicAuth": {
                    "id": "adDiO0fayX64eJs7",
                    "name": "Wazuh Indexer"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "// ===== FALSE POSITIVE FILTER & ALERT ENRICHMENT =====\n// Add known false positive rule IDs here to auto-filter them\nconst KNOWN_FALSE_POSITIVE_RULE_IDS = [\n  // Example: '5402', '5403' \u2014 add your known FP rule IDs\n];\n\nconst inputData = $input.first().json;\n\n// Handle Wazuh Indexer (OpenSearch) response format: hits.hits[]._source\nconst hits = inputData.hits?.hits || [];\nif (hits.length === 0) {\n  return [{ json: { alerts: [], totalAlerts: 0, filteredOut: 0 } }];\n}\n\nconst filteredAlerts = [];\nlet filteredOut = 0;\n\nfor (const hit of hits) {\n  const alert = hit._source;\n  const ruleId = String(alert.rule?.id || '');\n  \n  // Skip known false positives\n  if (KNOWN_FALSE_POSITIVE_RULE_IDS.includes(ruleId)) {\n    filteredOut++;\n    continue;\n  }\n  \n  // Enrich alert with key fields for AI analysis\n  filteredAlerts.push({\n    alert_id: hit._id || 'unknown',\n    timestamp: alert.timestamp || '',\n    agent_id: alert.agent?.id || '',\n    agent_name: alert.agent?.name || 'unknown',\n    agent_ip: alert.agent?.ip || '',\n    rule_id: ruleId,\n    rule_level: alert.rule?.level || 0,\n    rule_description: alert.rule?.description || '',\n    rule_groups: (alert.rule?.groups || []).join(', '),\n    rule_mitre: alert.rule?.mitre?.technique || [],\n    rule_pci_dss: alert.rule?.pci_dss || [],\n    source_ip: alert.data?.srcip || alert.data?.src_ip || '',\n    destination_ip: alert.data?.dstip || alert.data?.dst_ip || '',\n    source_port: alert.data?.srcport || '',\n    destination_port: alert.data?.dstport || '',\n    process_name: alert.data?.program_name || alert.data?.process?.name || '',\n    file_path: alert.syscheck?.path || alert.data?.file || '',\n    full_log: (alert.full_log || '').substring(0, 500),\n    location: alert.location || '',\n    sca_policy: alert.data?.sca?.policy || '',\n    sca_score: alert.data?.sca?.score || ''\n  });\n}\n\nreturn [{\n  json: {\n    alerts: filteredAlerts,\n    totalAlerts: filteredAlerts.length,\n    filteredOut: filteredOut,\n    originalCount: hits.length,\n    indexerTotal: inputData.hits?.total?.value || 0\n  }\n}];"
            },
            "id": "filter-fp",
            "name": "Filter Known False Positives",
            "position": [
                720,
                0
            ],
            "type": "n8n-nodes-base.code",
            "typeVersion": 2
        },
        {
            "parameters": {
                "conditions": {
                    "combinator": "and",
                    "conditions": [
                        {
                            "id": "condition-alerts-exist",
                            "leftValue": "={{ $json.totalAlerts }}",
                            "operator": {
                                "operation": "gt",
                                "type": "number"
                            },
                            "rightValue": 0
                        }
                    ],
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "strict"
                    }
                },
                "options": {}
            },
            "id": "if-alerts-exist",
            "name": "Any Alerts?",
            "position": [
                960,
                0
            ],
            "type": "n8n-nodes-base.if",
            "typeVersion": 2
        },
        {
            "parameters": {
                "jsCode": "const alerts = $input.first().json.alerts;\nconst BATCH_SIZE = 5;\nconst batches = [];\nfor (let i = 0; i < alerts.length; i += BATCH_SIZE) {\n  const batch = alerts.slice(i, i + BATCH_SIZE);\n  batches.push({ json: { batch_id: Math.floor(i / BATCH_SIZE) + 1, total_batches: Math.ceil(alerts.length / BATCH_SIZE), alerts: batch, alert_count: batch.length, wazuh_token: $node['Wazuh Authenticate'].json.data.token } });\n}\nreturn batches;"
            },
            "id": "prepare-batches",
            "name": "Prepare Alert Batches",
            "position": [
                1200,
                -96
            ],
            "type": "n8n-nodes-base.code",
            "typeVersion": 2
        },
        {
            "parameters": {
                "agent": "openAiFunctionsAgent",
                "promptType": "define",
                "text": "=Analyze the following batch of Wazuh security alerts. For EACH alert, determine if it is a TRUE POSITIVE or FALSE POSITIVE.\n\nAlert Batch ({{ $json.alert_count }} alerts):\n```json\n{{ JSON.stringify($json.alerts, null, 2) }}\n```\n\nFor each alert:\n1. Review the rule description, severity level, source/destination IPs, and log data\n2. Use the SSH tool to connect to the affected server (agent IP: use the agent_ip field) and verify the alert\n3. Use the Wazuh API tool to get more context about the agent and recent alerts\n4. Classify each alert and provide your findings\n\nRespond with a valid JSON array. Each element must have these exact fields:\n{\"rule_id\": \"string\", \"alert_description\": \"string\", \"severity\": number, \"agent_name\": \"string\", \"agent_ip\": \"string\", \"classification\": \"TRUE_POSITIVE\" or \"FALSE_POSITIVE\", \"confidence\": number, \"evidence\": \"string\", \"solution\": \"string\", \"commands_run\": [\"array\"]}",
                "options": {
                    "systemMessage": "You are a senior security analyst. Analyze Wazuh SIEM alerts and classify them as TRUE_POSITIVE or FALSE_POSITIVE. Use SSH to verify alerts on target servers and the Wazuh API for additional context. Be thorough but concise. Always respond with valid JSON.",
                    "maxIterations": 15
                }
            },
            "id": "ai-agent",
            "name": "Security Analyst Agent",
            "position": [
                1440,
                -96
            ],
            "type": "@n8n/n8n-nodes-langchain.agent",
            "typeVersion": 1.7
        },
        {
            "parameters": {
                "model": {
                    "mode": "id",
                    "value": "gpt-4o"
                },
                "builtInTools": {},
                "options": {
                    "temperature": 0.1
                }
            },
            "id": "openai-model",
            "name": "GPT-4o",
            "position": [
                1344,
                160
            ],
            "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
            "typeVersion": 1.3,
            "credentials": {
                "openAiApi": {
                    "id": "xqbNKVZyoRI2FKTt",
                    "name": "OpenAi account"
                }
            }
        },
        {
            "parameters": {
                "name": "wazuh_api_query",
                "description": "Query the Wazuh SIEM API. Send the API endpoint path as input (e.g. /agents, /agents/001, /vulnerability/001). Auth token is included automatically.",
                "language": "javaScript",
                "jsCode": "// Wazuh API Query Tool\n// Input: query = the API endpoint path, e.g. \"/agents\" or \"/vulnerability/001\"\nconst endpoint = query.trim();\nif (!endpoint.startsWith('/')) {\n  return 'ERROR: Endpoint must start with /. Example: /agents or /vulnerability/001';\n}\n\nlet token;\ntry {\n  token = $('Wazuh Authenticate').item.json.data.token;\n} catch(e) {\n  return 'ERROR: Could not get Wazuh auth token.';\n}\n\nconst url = 'https://192.168.1.199:55000' + endpoint;\ntry {\n  const response = await fetch(url, {\n    method: 'GET',\n    headers: { 'Authorization': 'Bearer ' + token }\n  });\n  const data = await response.text();\n  if (data.length > 4000) {\n    return data.substring(0, 4000) + '\\n... [TRUNCATED]';\n  }\n  return data;\n} catch(error) {\n  return 'API Error: ' + error.message;\n}",
                "specifyInputSchema": false
            },
            "id": "wazuh-api-tool",
            "name": "Wazuh API Query Tool",
            "position": [
                1664,
                160
            ],
            "type": "@n8n/n8n-nodes-langchain.toolCode",
            "typeVersion": 1.3,
            "credentials": {}
        },
        {
            "parameters": {
                "jsCode": "const allItems = $input.all();\nconst truePositives = [];\nconst falsePositives = [];\nconst errors = [];\nfor (const item of allItems) {\n  try {\n    let agentOutput = item.json.output || item.json.text || '';\n    const jsonMatch = agentOutput.match(/\\[\\s*\\{[\\s\\S]*\\}\\s*\\]/);\n    if (jsonMatch) agentOutput = jsonMatch[0];\n    let results;\n    try { results = JSON.parse(agentOutput); } catch (e) {\n      const s = agentOutput.indexOf('['), en = agentOutput.lastIndexOf(']');\n      if (s !== -1 && en !== -1) results = JSON.parse(agentOutput.substring(s, en + 1));\n      else throw e;\n    }\n    if (!Array.isArray(results)) results = [results];\n    for (const r of results) { if (r.classification === 'TRUE_POSITIVE') truePositives.push(r); else falsePositives.push(r); }\n  } catch (err) { errors.push({ error: err.message, raw: (item.json.output || '').substring(0, 200) }); }\n}\ntruePositives.sort((a, b) => (b.severity || 0) - (a.severity || 0));\nreturn [{ json: { analysis_timestamp: new Date().toISOString(), summary: { total_analyzed: truePositives.length + falsePositives.length, true_positives: truePositives.length, false_positives: falsePositives.length, parse_errors: errors.length }, true_positives: truePositives, false_positives: falsePositives, errors } }];"
            },
            "id": "consolidate",
            "name": "Consolidate Results",
            "position": [
                1712,
                -96
            ],
            "type": "n8n-nodes-base.code",
            "typeVersion": 2
        },
        {
            "parameters": {
                "conditions": {
                    "combinator": "and",
                    "conditions": [
                        {
                            "id": "condition-tp",
                            "leftValue": "={{ $json.summary.true_positives }}",
                            "operator": {
                                "operation": "gt",
                                "type": "number"
                            },
                            "rightValue": 0
                        }
                    ],
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "strict"
                    }
                },
                "options": {}
            },
            "id": "if-true-positives",
            "name": "Has True Positives?",
            "position": [
                1952,
                -96
            ],
            "type": "n8n-nodes-base.if",
            "typeVersion": 2
        },
        {
            "parameters": {
                "jsCode": "const data = $input.first().json;\nconst tp = data.true_positives || [];\nconst fp = data.false_positives || [];\nconst summary = data.summary;\nconst timestamp = new Date(data.analysis_timestamp).toLocaleString('en-US', { timeZone: 'America/New_York', dateStyle: 'full', timeStyle: 'short' });\nfunction sColor(l) { if (l>=12) return '#dc3545'; if (l>=10) return '#fd7e14'; if (l>=7) return '#ffc107'; return '#28a745'; }\nfunction sLabel(l) { if (l>=12) return '\ud83d\udd34 CRITICAL'; if (l>=10) return '\ud83d\udfe0 HIGH'; if (l>=7) return '\ud83d\udfe1 MEDIUM'; return '\ud83d\udfe2 LOW'; }\nlet html = `<div style=\"font-family:'Segoe UI',sans-serif;max-width:800px;margin:0 auto;background:#fff;border-radius:8px;box-shadow:0 2px 10px rgba(0,0,0,0.1);\"><div style=\"background:linear-gradient(135deg,#1a1a2e,#16213e,#0f3460);color:#fff;padding:30px;text-align:center;\"><h1 style=\"margin:0;\">\ud83d\udee1\ufe0f Wazuh Alert Digest</h1><p style=\"margin:8px 0 0;opacity:0.8;\">${timestamp}</p></div><div style=\"display:flex;justify-content:center;gap:30px;padding:20px;background:#f1f3f5;\"><div style=\"text-align:center;\"><div style=\"font-size:32px;font-weight:bold;\">${summary.total_analyzed}</div><div style=\"font-size:12px;color:#666;text-transform:uppercase;\">Analyzed</div></div><div style=\"text-align:center;\"><div style=\"font-size:32px;font-weight:bold;color:#dc3545;\">${summary.true_positives}</div><div style=\"font-size:12px;color:#666;text-transform:uppercase;\">True Positives</div></div><div style=\"text-align:center;\"><div style=\"font-size:32px;font-weight:bold;color:#28a745;\">${summary.false_positives}</div><div style=\"font-size:12px;color:#666;text-transform:uppercase;\">False Positives</div></div></div>`;\nif (tp.length > 0) {\n  html += `<div style=\"padding:20px 30px;\"><h2 style=\"color:#1a1a2e;border-bottom:2px solid #e9ecef;padding-bottom:10px;\">\ud83d\udea8 Action Required</h2>`;\n  for (const a of tp) { const c=sColor(a.severity||0), l=sLabel(a.severity||0); html += `<div style=\"border:1px solid #dee2e6;border-radius:8px;margin:15px 0;overflow:hidden;\"><div style=\"padding:12px 15px;background:${c}15;border-left:4px solid ${c};display:flex;justify-content:space-between;align-items:center;\"><strong>Rule ${a.rule_id}: ${a.alert_description||'N/A'}</strong><span style=\"display:inline-block;padding:3px 10px;border-radius:12px;font-size:11px;font-weight:bold;color:#fff;background:${c};\">${l}</span></div><div style=\"padding:15px;background:#f8f9fa;\"><p><strong>\ud83d\udda5\ufe0f Server:</strong> ${a.agent_name||'N/A'} (${a.agent_ip||'N/A'})</p><p><strong>\ud83d\udcca Confidence:</strong> ${a.confidence||'N/A'}%</p><div style=\"background:#fff3cd;border:1px solid #ffc107;border-radius:5px;padding:10px;margin-top:8px;\"><strong>\ud83d\udd0d Evidence:</strong> ${a.evidence||'None'}</div><div style=\"background:#d4edda;border:1px solid #c3e6cb;border-radius:5px;padding:12px;margin-top:10px;\"><h4 style=\"margin:0 0 8px;color:#155724;\">\u2705 Solution</h4><p style=\"margin:0;color:#155724;\">${a.solution||'Manual investigation required'}</p></div></div></div>`; }\n  html += `</div>`;\n}\nif (fp.length > 0) {\n  html += `<div style=\"padding:20px 30px;\"><h2 style=\"color:#1a1a2e;border-bottom:2px solid #e9ecef;padding-bottom:10px;\">\u2705 False Positives (${fp.length})</h2><table style=\"width:100%;border-collapse:collapse;font-size:13px;\"><tr style=\"background:#e9ecef;\"><th style=\"padding:8px;text-align:left;border:1px solid #dee2e6;\">Rule</th><th style=\"padding:8px;text-align:left;border:1px solid #dee2e6;\">Description</th><th style=\"padding:8px;text-align:left;border:1px solid #dee2e6;\">Server</th></tr>`;\n  for (const a of fp) { html += `<tr><td style=\"padding:8px;border:1px solid #dee2e6;\">${a.rule_id}</td><td style=\"padding:8px;border:1px solid #dee2e6;\">${(a.alert_description||'').substring(0,80)}</td><td style=\"padding:8px;border:1px solid #dee2e6;\">${a.agent_name||'N/A'}</td></tr>`; }\n  html += `</table></div>`;\n}\nhtml += `<div style=\"background:#f1f3f5;padding:15px 30px;text-align:center;font-size:12px;color:#999;\"><p>Generated by Wazuh Alert Triage AI Agent | 192.168.1.199</p></div></div>`;\nreturn [{ json: { emailSubject: `\ud83d\udee1\ufe0f Wazuh Alert Digest \u2014 ${new Date().toLocaleDateString('en-US')} | ${summary.true_positives} TP`, emailBody: html, true_positives: tp, false_positives: fp, summary } }];"
            },
            "id": "build-digest",
            "name": "Build Email Digest",
            "position": [
                2192,
                -208
            ],
            "type": "n8n-nodes-base.code",
            "typeVersion": 2
        },
        {
            "parameters": {
                "sendTo": "maly.iphone@gmail.com",
                "subject": "={{ $json.emailSubject }}",
                "message": "={{ $json.emailBody }}",
                "options": {}
            },
            "id": "gmail-send",
            "name": "Send Digest Email",
            "position": [
                2432,
                -208
            ],
            "type": "n8n-nodes-base.gmail",
            "typeVersion": 2.1,
            "webhookId": "6d0bbf26-c852-400c-9a19-72793e4be156",
            "credentials": {
                "gmailOAuth2": {
                    "id": "E9z811rr6mAa5Qd0",
                    "name": "Gmail account"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "const data = $input.first().json;\nconst fp = data.false_positives || [];\nif (fp.length === 0) return [{ json: { message: 'No false positives', count: 0 } }];\nconst fpSummary = fp.map(a => ({ rule_id: a.rule_id, description: a.alert_description, agent: a.agent_name, evidence: a.evidence, suggestion: `Consider adding rule ${a.rule_id} to known FP list if repeating.` }));\nreturn [{ json: { message: `${fp.length} false positive(s) logged`, count: fp.length, false_positives: fpSummary } }];"
            },
            "id": "manage-fp",
            "name": "Log False Positives",
            "position": [
                2192,
                0
            ],
            "type": "n8n-nodes-base.code",
            "typeVersion": 2
        },
        {
            "parameters": {
                "jsCode": "const data = $input.first().json;\nconst summary = data.summary;\nconst ts = new Date(data.analysis_timestamp).toLocaleString('en-US', { timeZone: 'America/New_York', dateStyle: 'full', timeStyle: 'short' });\nconst html = `<div style=\"font-family:'Segoe UI',sans-serif;max-width:600px;margin:0 auto;background:#fff;border-radius:8px;box-shadow:0 2px 10px rgba(0,0,0,0.1);\"><div style=\"background:linear-gradient(135deg,#155724,#28a745);color:#fff;padding:30px;text-align:center;\"><h1 style=\"margin:0;\">\u2705 All Clear</h1><p style=\"margin:8px 0 0;opacity:0.8;\">${ts}</p></div><div style=\"padding:30px;text-align:center;\"><p style=\"font-size:48px;margin:0;\">\ud83c\udf89</p><h2 style=\"color:#155724;\">All ${summary.total_analyzed} alerts were false positives</h2><p style=\"color:#666;\">No action required.</p></div><div style=\"background:#f1f3f5;padding:15px;text-align:center;font-size:12px;color:#999;\">Wazuh Alert Triage AI Agent | 192.168.1.199</div></div>`;\nreturn [{ json: { emailSubject: `\u2705 Wazuh \u2014 ${new Date().toLocaleDateString('en-US')} | All Clear`, emailBody: html } }];"
            },
            "id": "build-allclear",
            "name": "Build All-Clear Email",
            "position": [
                2192,
                112
            ],
            "type": "n8n-nodes-base.code",
            "typeVersion": 2
        },
        {
            "parameters": {
                "sendTo": "maly.iphone@gmail.com",
                "subject": "={{ $json.emailSubject }}",
                "message": "={{ $json.emailBody }}",
                "options": {}
            },
            "id": "gmail-allclear",
            "name": "Send All-Clear Email",
            "position": [
                2432,
                112
            ],
            "type": "n8n-nodes-base.gmail",
            "typeVersion": 2.1,
            "webhookId": "a40d8b5f-9419-4b69-9ad0-e6f066829e9b",
            "credentials": {
                "gmailOAuth2": {
                    "id": "E9z811rr6mAa5Qd0",
                    "name": "Gmail account"
                }
            }
        },
        {
            "parameters": {
                "name": "ssh_execute_command",
                "description": "Execute a read-only command on a Wazuh agent via SSH. Send JSON: {\"host\":\"IP\",\"command\":\"cmd\"}. Valid hosts: 192.168.1.185 (pve), 192.168.1.186 (n8nsrv), 192.168.1.188 (aisrv), 192.168.1.190 (devsrv), 192.168.1.191 (prodsrv). Only read-only commands allowed.",
                "language": "javaScript",
                "jsCode": "// SSH Command Execution via Webhook\nlet input;\ntry {\n  input = typeof query === 'string' ? JSON.parse(query) : query;\n} catch(e) {\n  return 'ERROR: Send JSON like {\"host\":\"192.168.1.185\",\"command\":\"tail -20 /var/log/auth.log\"}';\n}\n\nconst host = input.host;\nconst command = input.command;\n\nif (!host || !command) {\n  return 'ERROR: Both host and command required.';\n}\n\nconst VALID = ['192.168.1.185','192.168.1.186','192.168.1.188','192.168.1.190','192.168.1.191'];\nif (!VALID.includes(host)) {\n  return 'ERROR: Invalid host. Valid: ' + VALID.join(', ');\n}\n\ntry {\n  const resp = await fetch('https://n8n.ozoar.io/webhook/ssh-executor', {\n    method: 'POST',\n    headers: {'Content-Type': 'application/json'},\n    body: JSON.stringify({host, command})\n  });\n  const result = await resp.text();\n  if (result.length > 3000) {\n    return result.substring(0, 3000) + '\\n... [TRUNCATED]';\n  }\n  return result || 'Command executed with no output.';\n} catch(error) {\n  return 'SSH Error: ' + error.message;\n}",
                "specifyInputSchema": false
            },
            "id": "ssh-tool",
            "name": "SSH Verification Tool",
            "type": "@n8n/n8n-nodes-langchain.toolCode",
            "typeVersion": 1.3,
            "position": [
                1504,
                160
            ],
            "credentials": {}
        }
    ],
    "connections": {
        "Any Alerts?": {
            "main": [
                [
                    {
                        "index": 0,
                        "node": "Prepare Alert Batches",
                        "type": "main"
                    }
                ]
            ]
        },
        "Build All-Clear Email": {
            "main": [
                [
                    {
                        "index": 0,
                        "node": "Send All-Clear Email",
                        "type": "main"
                    }
                ]
            ]
        },
        "Build Email Digest": {
            "main": [
                [
                    {
                        "index": 0,
                        "node": "Send Digest Email",
                        "type": "main"
                    }
                ]
            ]
        },
        "Consolidate Results": {
            "main": [
                [
                    {
                        "index": 0,
                        "node": "Has True Positives?",
                        "type": "main"
                    }
                ]
            ]
        },
        "Daily 6 AM": {
            "main": [
                [
                    {
                        "index": 0,
                        "node": "Wazuh Authenticate",
                        "type": "main"
                    }
                ]
            ]
        },
        "Fetch Wazuh Alerts": {
            "main": [
                [
                    {
                        "index": 0,
                        "node": "Filter Known False Positives",
                        "type": "main"
                    }
                ]
            ]
        },
        "Filter Known False Positives": {
            "main": [
                [
                    {
                        "index": 0,
                        "node": "Any Alerts?",
                        "type": "main"
                    }
                ]
            ]
        },
        "GPT-4o": {
            "ai_languageModel": [
                [
                    {
                        "index": 0,
                        "node": "Security Analyst Agent",
                        "type": "ai_languageModel"
                    }
                ]
            ]
        },
        "Has True Positives?": {
            "main": [
                [
                    {
                        "index": 0,
                        "node": "Build Email Digest",
                        "type": "main"
                    },
                    {
                        "index": 0,
                        "node": "Log False Positives",
                        "type": "main"
                    }
                ],
                [
                    {
                        "index": 0,
                        "node": "Build All-Clear Email",
                        "type": "main"
                    },
                    {
                        "index": 0,
                        "node": "Log False Positives",
                        "type": "main"
                    }
                ]
            ]
        },
        "Prepare Alert Batches": {
            "main": [
                [
                    {
                        "index": 0,
                        "node": "Security Analyst Agent",
                        "type": "main"
                    }
                ]
            ]
        },
        "Security Analyst Agent": {
            "main": [
                [
                    {
                        "index": 0,
                        "node": "Consolidate Results",
                        "type": "main"
                    }
                ]
            ]
        },
        "Wazuh API Query Tool": {
            "ai_tool": [
                [
                    {
                        "index": 0,
                        "node": "Security Analyst Agent",
                        "type": "ai_tool"
                    }
                ]
            ]
        },
        "Wazuh Authenticate": {
            "main": [
                [
                    {
                        "index": 0,
                        "node": "Fetch Wazuh Alerts",
                        "type": "main"
                    }
                ]
            ]
        },
        "SSH Verification Tool": {
            "ai_tool": [
                [
                    {
                        "node": "Security Analyst Agent",
                        "type": "ai_tool",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1",
        "callerPolicy": "workflowsFromSameOwner",
        "availableInMCP": false
    },
    "staticData": {
        "node:Daily 6 AM": {
            "recurrenceRules": []
        }
    },
    "meta": {
        "templateCredsSetupCompleted": true
    },
    "pinData": {},
    "versionId": "5ba7dd7e-d2f4-4ea3-b16c-981025066ca4",
    "activeVersionId": null,
    "versionCounter": 33,
    "triggerCount": 1,
    "shared": [
        {
            "updatedAt": "2026-02-24T20:12:46.974Z",
            "createdAt": "2026-02-24T20:12:46.974Z",
            "role": "workflow:owner",
            "workflowId": "207k3lfk9WtMXjEU",
            "projectId": "gW8bcXqUEyEVzn34",
            "project": {
                "updatedAt": "2026-02-19T21:50:37.288Z",
                "createdAt": "2026-02-19T21:48:50.341Z",
                "id": "gW8bcXqUEyEVzn34",
                "name": "Mohamed Aly <maly.iphone@gmail.com>",
                "type": "personal",
                "icon": null,
                "description": null,
                "creatorId": "ec89fadc-d219-4409-9c00-9c0c601bd246"
            }
        }
    ],
    "tags": [],
    "activeVersion": null
}